.company-card {
  $this: &;

  position: relative;
  padding: 30px 30px 18px;
  background-color: #ffffff;
  border: 1px solid transparent;
  cursor: pointer;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $secondary;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $easing-default;
  }

  &.is-inactive {
    border-color: rgba(187, 187, 187, 0.4);
    background-color: $main-bg;
    pointer-events: none;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
    }

    #{$this}__icon {
      transform: translateX(0);
      opacity: 1;
    }

    #{$this}__row {
      color: $secondary;

      span {
        color: $primary;
      }
    }
  }

  &__inner {
    text-decoration: none;
  }

  &__category {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 6px;

    background-color: $blue-1;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
  }

  &__image {
    width: 100%;
    height: 110px;
    margin-bottom: 20px;

    background-color: #dedede;

    img {
      max-width: 100%;
    }
  }

  &__row {
    padding: 10px 0;
    border-top: 1px solid rgba(187, 187, 187, 0.4);
    color: $primary;
    font-size: 22px;
    @include semi;
    line-height: 1.2;
    transition: color $easing-default;

    span {
      display: block;
      color: $dark-gray;
      font-size: 12px;
      font-weight: 500;
      transition: color $easing-default;
    }
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $secondary;
    transform: translateX(50px);
    opacity: 0;
    transition: all $easing-default;
    background-image: url(~@/assets/icons/link.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}
