.documents {
  margin-bottom: 40px;
  //@include r(700) {
  //  margin-left: -40px;
  //  margin-right: -40px;
  //}
  //@include xs {
  //  margin-left: -20px;
  //  margin-right: -20px;
  //}

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include md {
      margin-bottom: 40px;
      display: block;
    }

    @include r(700) {
      padding: 0 20px;
      margin-bottom: 20px;
    }
  }

  &__section {
    & + & {
      @include r(700) {
        margin-top: 20px;
      }
    }
  }

  &__title {
    color: $primary;
    @include semi;
    font-size: 30px;
    line-height: 1.4;

    @include md {
      margin-bottom: 20px;
    }

    @include r(700) {
      margin-bottom: 10px;
      font-size: 26px;
      line-height: 1.3;
    }

    span {
      color: #bbbbbb;
      margin-left: 10px;
    }
  }

  .sort-select {
    white-space: nowrap;
  }
  .sort-select__options {
    @include sm {
      white-space: nowrap;
    }
  }

  .tabs {
    .documents__section {
      @include r(700) {
        padding: 0 20px;
      }
    }
    .documents__head {
      @include r(700) {
        padding: 0;
      }
    }

    &.is-simple {
      @include xs {
        margin-top: -30px;
      }
    }
  }
}

.documents-no-data {
  margin-bottom: 30px;
  color: $primary;
  font-size: 20px;
}
