.report-table {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 30px;
    color: $primary;
    @include semi;
  }

  &__body {
    background-color: #ffffff;
  }

  & + & {
    margin-top: 40px;
  }

  &__row {
    display: flex;
    border-bottom: 1px solid $main-bg;
    color: $primary;
  }

  &__date {
    width: 140px;
    padding: 20px 30px;
  }

  &__type {
    display: flex;
    align-items: center;
    width: 256px;
    padding: 20px 30px;
  }

  &__description {
    width: 464px;
    padding: 20px 30px;
  }

  &__amount {
    width: 300px;
    padding: 20px 30px;
    text-align: right;
    @include semi;
  }

  &__text {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 20px 30px;
  }

  &__info-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    margin-bottom: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $secondary;
    cursor: pointer;
    transition: background-color $easing-default;

    &:hover {
      background-color: $primary;
    }
  }

  &__head-actions {
    display: flex;
    align-items: center;

    .sort-select {
      margin-left: 30px;
    }
  }

  &__download {
    display: flex;
    @include semi;
    color: $secondary;
    cursor: pointer;

    svg {
      display: block;
      margin-right: 7px;
    }
  }
}
