.report-table {
  $this: &;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @include r(700) {
      padding: 0 30px;
    }
    @include xs {
      flex-wrap: wrap;
      padding: 0 20px;
      margin-bottom: 10px;
    }

    &.is-tablet-wrap {
      @include md {
        flex-wrap: wrap;
      }
      @include r(700) {
        padding: 0;
      }

      .report-table__head-actions {
        @include md {
          width: 100%;
          margin-top: 20px;
        }
        @include xs {
          margin-top: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  &__title {
    font-size: 30px;
    color: $primary;
    @include semi;
    @include xs {
      width: 100%;
      margin-bottom: 10px;
      font-size: 26px;
    }
  }

  &__body {
    background-color: #ffffff;
  }

  & + & {
    margin-top: 40px;
  }

  &__row {
    display: flex;
    border-bottom: 1px solid $main-bg;
    color: $primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    @include md {
      flex-wrap: wrap;
    }

    &.is-open {
      white-space: normal;
      overflow: visible;

      .report-table__trunc {
        white-space: normal;
        padding-right: 0;
        overflow: visible;

        .report-table__trunc-more {
          @include md {
            right: -10px;
          }
        }
      }
    }
  }

  &__date {
    width: 140px;
    padding: 20px 30px;
    @include md {
      width: 22%;
      flex-shrink: 0;
    }
    @include xs {
      padding: 12px 20px;
      width: 125px;
    }
  }

  &__type {
    display: flex;
    flex-shrink: 0;
    width: 256px;
    padding: 20px 30px;
    @include md {
      width: 32%;
      flex-shrink: 1;
    }
    @include xs {
      padding: 12px 20px;
      width: calc(100% - 125px);
    }
  }

  &__description {
    display: flex;
    position: relative;
    //width: 464px;
    width: 40%;
    padding: 20px 30px;
    @include md {
      width: 46%;
    }
    @include xs {
      padding: 0 20px;
      width: 100%;
    }
  }

  &__trunc {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;

    .report-table__trunc-more {
      display: none;
    }

    &.is-overflow {

      & ~ .report-table__trunc-more {
        position: relative;
        z-index: 2;
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        flex-shrink: 0;
        top: -4px;
        cursor: pointer;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &__trunc-more {
    display: none;
    color: $secondary;

    svg {
      transition: all $easing-default;
    }
  }

  &__amount {
    width: 300px;
    padding: 20px 30px;
    text-align: right;
    @include semi;
    margin-left: auto;
    @include md {
      width: 100%;
    }
    @include xs {
      padding: 10px 20px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 20px 30px;
  }

  &__info-icon {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $secondary;
    cursor: pointer;
    transition: background-color $easing-default;

    &:hover {
      background-color: $primary;
    }
  }

  &__head-actions {
    display: flex;
    align-items: center;
    margin-left: auto;

    .sort-select {
      margin-left: 30px;
    }
  }

  &__download {
    display: flex;
    @include semi;
    color: $secondary;
    cursor: pointer;

    svg {
      display: block;
      margin-right: 7px;
    }
  }

  &__show {
    font-size: 14px;
    @include semi;
    color: $primary;
  }

  &--sm {
    #{$this}__date {
      width: 200px;
      @include md {
        width: 22%;
        flex-shrink: 0;
      }
      @include xs {
        padding: 12px 20px;
        width: 125px;
      }
    }

    #{$this}__description {
      width: 55%;
      @include md {
        width: 65%;
      }
      @include xs {
        padding: 0 20px;
        width: 100%;
      }
    }
  }

  .sort-select {
    &__options {
      left: auto;
      right: -14px;
      transform: translateX(0) translateY(-10px);

      @include xs {
        white-space: nowrap;
      }

      &.is-open {
        transform: translateX(0) translateY(0);
      }
    }
  }
}
