.burger {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;

  span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: $primary;
    transition: all $easing-default;

    &:first-child {
      transform: translateY(-8px);
    }

    &:last-child {
      transform: translateY(8px);
    }
  }

  &.is-active {
    span {
      &:first-child {
        transform: translateY(1px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: translateY(-1px);
      }
    }
  }

  &.is-open {
    span {
      &:first-child {
        transform: translateY(100%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: translateY(-100%) rotate(-45deg);
      }
    }
  }
}
