.tabs {
  $this: &;

  &:not(.is-simple) {
    @include r(700) {
      margin-left: -40px;
      margin-right: -40px;
    }
    @include xs {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &__list {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 30px 30px 0;
    background-color: #ffffff;
    border-bottom: 1px solid $main-bg;
    @include xs {
      padding: 0 0 1px 20px;
    }
  }

  li {
    font-size: 14px;
    color: $primary;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    background-color: #ffffff;

    &:first-child {
      display: none;
    }

    &:last-child {
      @include xs {
        padding-right: 20px;
      }
    }

    &:not(:last-child) {
      margin-right: 30px;
      @include xs {
      }
    }

    @include xs {
      padding-top: 20px;
    }

    &.is-active {
      color: $secondary;
      border-bottom: 2px solid $secondary;
    }
  }

  &__item {
    padding-bottom: 30px;
    @include xs {
      padding-bottom: 20px;
    }
  }

  &__details {
    position: relative;
  }

  &.no-scroll {
    li {
      &:first-child {
        display: block;
      }
    }
  }

  &.is-simple {
    #{$this}__list {
      padding-left: 0;
      padding-top: 0;
      margin-bottom: 30px;
      background-color: transparent;
      @include r(700) {
        margin-left: 40px;
        margin-right: 40px;
      }
      @include xs {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    #{$this}__item {
      padding-bottom: 10px;
    }

    li {
      background-color: transparent;
      @include xs {
        padding-right: 0;
      }
    }
  }
}


.tabs::v-deep {
  .ps-container {
    background-color: #ffffff;

    &:hover {
      .ps__rail-x {
        opacity: 0;
      }
    }
  }

  .ps--scrolling-x {
    .ps__rail-x {
      opacity: 1;
    }
  }

  .ps__rail-x {
    bottom: 0 !important;
    z-index: 3;
    opacity: 0;
    height: 6px;
    @include sm {
      pointer-events: none;
    }
  }

  .ps__thumb-x {
    height: 3px;
    @include sm {
      pointer-events: none;
    }
  }
}
