.companies {
  margin-bottom: 80px;
  @include sm {
    margin-bottom: 50px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    @include sm {
      display: block;
    }
  }

  &__title {
    font-size: 30px;
    @include semi;
    color: $primary;
    @include sm {
      margin-bottom: 20px;
    }
    @include xs {
      font-size: 26px;
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__tab {
    padding: 7px 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: $primary;
    transition: color $easing-default;
    border-bottom: 2px solid transparent;
    white-space: nowrap;

    &.is-active {
      border-bottom: 2px solid $secondary;
    }

    &.is-active,
    &:hover {
      color: $secondary;
    }

    span {
      margin-left: 4px;
      color: #7c7c7c;
      font-weight: 500;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 260px;
    margin-bottom: 40px;

    @include r(1240) {
      position: relative;
      width: calc(100% / 3 - 27px);
      height: auto;
    }

    @include md {
      width: calc(100% / 2 - 20px);
      //max-width: 320px;
    }

    @include r(600) {
      width: 100%;
      max-width: none;
      margin-bottom: 10px;
    }


    &:not(:nth-child(4n)) {
      margin-right: 40px;
      @include r(1240) {
        margin-right: 0;
      }
      @include md {
        margin-right: 0;
      }
    }

    &:not(:nth-child(3n)) {
      @include r(1240) {
        margin-right: 40px;
      }
    }

    &:nth-child(2n) {
      @include md {
        margin-right: 0;
      }
    }

    &:nth-child(2n - 1) {
      @include md {
        margin-right: 40px;
      }
      @include r(600) {
        margin-right: 0;
      }
    }
  }

  .ps-container {
    @include xs {
      margin-right: -20px;
    }
  }

  &::v-deep .sort-select {
    &__wrap {
      @include md {
        max-width: 50%;
      }
    }

    &__active {
      @include md {
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.companies::v-deep {
  .ps__rail-x {
    bottom: 12px !important;
    height: 0;
    @include sm {
      pointer-events: none;
    }
  }

  .ps__thumb-x {
    height: 5px;
    cursor: pointer;
    @include sm {
      pointer-events: none;
    }
  }
}
