.charts-wrapper {
  position: relative;
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 40px;

  @include xs {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
  }

  &__metrics {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    border-bottom: 1px solid $main-bg;
    z-index: 3;
  }
}

.charts-wrapper-notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #ffffff;
  @include xs {
    font-size: 22px;
  }

  span {
    position: relative;
    @include semi;
    z-index: 6;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: $secondary;
    opacity: .94;
  }
}

.chart-wrapper {
  //width: 600px;
  //overflow-x: auto;

  //.chart {
  //  width: 2000px;
  //}

  //.ps-container {
  //  padding-bottom: 20px;
  //}

}


.chart-metric {
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 500;
  color: $primary;
  transition: all $easing-default;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  @include xs {
    padding-bottom: 20px;
  }

  &:hover {
    color: $secondary;
  }

  &.is-active {
    color: $secondary;
    border-color: $secondary;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.chart-metric-more {
  position: relative;

  &__wrapper {
    position: absolute;
    top: calc(100% - 15px);
    padding: 20px 30px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(-50%) translateY(-10px);
    white-space: nowrap;
    background: #ffffff;
    box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all $easing-default;
    pointer-events: none;
    overflow-y: auto;
    max-height: 300px;

    &.is-active {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
      pointer-events: auto;
    }
  }

  &__item {
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    color: $primary;
    transition: all $easing-default;
    cursor: pointer;

    &:hover {
      color: $secondary;
    }

    &.is-active {
      color: $secondary;
      border-color: $secondary;
    }

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}

.charts-toggle-type {
  position: relative;
  display: flex;
  justify-content: center;
  width: 56px;
  height: 30px;
  border-radius: 30px;
  background-color: rgba(187, 187, 187, 0.2);

  &.is-disabled {
    pointer-events: none;
    opacity: 0.25;
  }

  &.is-active {
    .charts-toggle-type__active {
      transform: translateX(100%);
    }

    button {
      &:first-child {
        svg {
          color: $dark-gray;
        }

        &:hover {
          svg {
            color: $primary;
          }
        }
      }

      &:last-child {
        svg {
          color: #ffffff;
        }

        &:hover {
          svg {
            color: #ffffff;
          }
        }
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__active {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $secondary;
    z-index: -1;
    transition: all $easing-default;
  }

  button {
    width: 26px;
    background-color: transparent;

    &:first-child {
      svg {
        color: #ffffff;
      }
    }

    &:last-child {
      &:hover {
        svg {
          color: $primary;
        }
      }
    }

    svg {
      transition: all $easing-default;
      color: $dark-gray;
    }
  }
}

.chart-head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  z-index: 2;

  &__selects {
    display: flex;
    align-items: center;
  }
}

.chart-timeline {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;

  & + & {
    margin-left: 43px;
  }

  &__active {
    @include semi;
    color: $primary;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      right: -13px;
      top: 8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: $primary transparent transparent transparent;
    }

    &.is-open {
      &:after {
        transform: scale(-1);
      }
    }
  }

  &__wrap {
    position: relative;
  }

  &__label {
    margin-right: 10px;
    color: $dark-gray;
  }

  &__options {
    position: absolute;
    top: calc(100% + 10px);
    padding: 20px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(-50%) translateY(-10px);
    white-space: nowrap;
    background: #ffffff;
    box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;

    max-height: 290px;
    overflow-y: auto;

    &.is-open {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
      pointer-events: auto;
    }
  }

  &__option {
    color: $primary;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}

.companies {
  max-height: 60px;
  overflow: hidden;

  &.is-open {
    max-height: none;
  }
}

.companies,
.check-all-companies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  font-size: 14px;
  color: $primary;
  font-weight: 500;

  &__check {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
  }

  label {
    width: 25%;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    @include lg {
      width: 50%;
    }
    @include xs {
      width: 100%;
    }
  }

  input {
    display: none;

    &:checked ~ .companies__check {
      border-color: $secondary;
      background-color: $secondary;
      background-image: url(~@/assets/images/check.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  span:not(.company-color) {
    margin-left: 10px;
  }
}

.check-all-companies {
  flex-direction: row-reverse;
  margin-top: 0;

  @include sm {
    flex-direction: row;
  }

  label {
    width: auto;
    justify-content: flex-end;
  }
}

.company-color {
  margin-left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.legends {
  background-color: $main-bg;
}

.graphic-companies-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  padding-left: 10px;

}

.toggle-all-companies {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  color: $primary;
  @include semi;
  cursor: pointer;

  &:hover {
    &:before {
      background-color: $secondary;
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $primary;
    transition: all $easing-default;
  }

  &:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #ffffff transparent transparent transparent;
  }
}
