.dashboard {
  $this: &;

  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  margin-bottom: 40px;

  color: #ffffff;
  background-color: $primary;
  background-image: url(~@/assets/images/pattern.svg);

  @include lg {
    flex-wrap: wrap;
  }

  @include xs {
    margin-left: -20px;
    margin-right: -20px;
  }

  &__main {
    padding: 25px 64px 25px 30px;
  }

  &__main-amount {
    font-size: 40px;
    @include bold;
  }

  &__main-note {
    max-width: 230px;
    margin-top: 10px;
    @include semi;
    text-transform: uppercase;
    letter-spacing: -0.01em;
  }

  &__info {
    flex-grow: 1;
    padding: 30px 40px;
    background-color: $primary;
  }

  &__col {
    position: relative;
    width: 100%;
    padding-right: 60px;

    @include lg {
      width: 50%;
      &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: $main-bg;
      }
    }

    @include r(650) {
      width: 100%;
    }

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: $main-bg;
        @include r(650) {
          display: none;
        }
      }
    }

    &:nth-child(2n) {
      @include lg {
        &:after {
          display: none;
        }
      }
    }
  }

  &__col-inner {
    padding: 20px 30px;
    height: 100%;
    background-color: $primary;
    @include r(650) {
      padding: 10px 20px;
    }
  }

  &__title-value {
    @include semi;
    font-size: 30px;
    color: $secondary;
  }

  &__note {
    margin-top: 6px;
    font-size: 14px;
    @include semi;
  }


  // Simple type dashboard
  &--simple {
    padding: 0;
    @include xs {
      margin-bottom: 0;
    }
  }
}
