.socials {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: $secondary;
    color: $primary;
    transition: background-color $easing-default;

    &:first-child {
      align-items: flex-end;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }

    svg {
      transition: color $easing-default;
    }

    &:hover {
      background-color: $primary;

      svg {
        color: $secondary;
      }
    }
  }
}
