.nav {
  padding: 40px 0;
  @include sm {
    margin-right: -40px;
  }
  @include xs {
    margin-right: 0;
    padding: 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    overflow-x: auto;
    @include xs {
      display: block;
    }
  }

  &__item {
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 40px;
      @include xs {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    a {
      color: $primary;
      @include semi;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      text-decoration: none;
      transition: color $easing-default;

      &:hover,
      &.is-exact-active {
        color: $secondary;
      }
    }
  }
}
